<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-group"></i>{{titulo}}</h3>
    </div>
</div>
<!-- Contenido  -->
<!-- Aqui va la tabla -->
<div class="col-lg-12">
        <div class="row" *ngIf="encuestas">
            <div class="col-lg-12">
                  <section class="panel">
                    <header class="panel-heading">
                        Lista de Sucursales
                    </header>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                      <th><i class="fa fa-user"></i>  Id cliente</th>
                                      
                                      <th><i class="fa fa-info"> Info</i></th>
                                </tr>
                                <tr *ngFor="let encuesta of encuestas">
                                      <td>id:{{encuesta.idcliente}}</td>
                                      <div class="btn-group">
                                          <a class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="verDatos(prestamo)"><i class="fa fa-eye"></i></a>
                                      </div>

                                <tr>
                                </tr>
                          </tbody>
                        </table>
                    </div>
                  </section>
            </div>
        </div>
    </div>
    <!-- Aqui termina la tabla -->
    <!-- pagination -->
    <div class="text-center" *ngIf="encuestas">
        <ul class="pagination">
          <!-- <li><a (click)="getGiros(pag-1)"  *ngIf="pag > 1">«</a></li> -->
          <li *ngFor="let pag of arrayPag"  (click)="cambiarPagina(pag)"><a>{{pag}}</a></li>
          <!-- <li><a (click)="getGiros(pag+1)"  *ngIf="pag < totalPag.length" >»</a></li> -->
        </ul>
        <div class="text-center">
            <span class="badge bg-success">{{pag}}</span>
        </div>
    </div>
    <!-- end pagination -->
    <!-- mensaje cargando giros -->
    <div  *ngIf="!encuestas">
        <span>Cargando Encuestas...</span>
    </div>
    <!-- fin de mensaje -->
           







<!-- Inicio del modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Añadir nuevo giro</h4>
                </div>
                <div class="modal-body">
    <!-- Inicio del formulario -->
                       
                    <form>
                            <div class="form-group col-lg-8"></div>
                        
                                <h3>Ruta</h3>
                                <label>
                                    Representante: 
                                </label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Nombre de la Ruta: 
                                </label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                            
                        
                                <h3>Datos del Cliente</h3>
                                <label>
                                    Nombre del Cliente: 
                                </label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                                
                                <label>
                                    Fecha de Nacimiento:
                                </label>
                                    <input type="text"  class="form-control" name="giroNombre" required>
                                    <br>
                                    <input type="text"  class="form-control" name="giroNombre" placeholder="Edad Actual" required>
                        
                                <br>
                                <label>
                                    Estado Civil:
                                </label>
                                    <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Comprobante que envió:
                                </label>
                                    <input type="text"  class="form-control" name="giroNombre" required>
                            
                                <label>
                                    Domicilio:
                                </label>
                                    <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Domicilio Propio o Rentado:
                                </label>
                                    <input type="text" class="form-control" name="giroNombre" required>
                                
                                <label>
                                    Dependientes Económicos:
                                </label>
                                <input type="text" class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Teléfono del Cliente:
                                </label>
                                <input type="text" class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Monto Solicitado:
                                </label>
                                <input type="text" class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Monto Autorizado:
                                </label>
                                <input type="text" class="form-control" name="giroNombre" required>
                        
                                <hr>
                        
                                <h3>Información del Negocio</h3>
                                <label>
                                    Giro del Negocio: 
                                </label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Ingresos Semanales: 
                                </label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                                
                                <label>
                                    Propietario o Empleado: 
                                </label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Antiguedad del Negocio: 
                                </label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Contrato de arrendamiento del Negocio: 
                                </label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Ubicación del Negocio: 
                                </label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <label>
                                    Horario Laboral: 
                                </label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <hr> 
                                <h3>Aval</h3>
                        
                                <label>
                                    Nombre del Aval:
                                </label>
                                    <input type="text"  class="form-control" name="giroNombre" required>
                            
                                    <label>
                                        Antiguedad de Conocerlo: 
                                    </label>
                                    <input type="text"  class="form-control" name="giroNombre" required>
                            
                                    <label>
                                        Teléfono: 
                                    </label>
                                    <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <hr>
                                <h3>Referencias Familiares</h3>
                                <label>
                                        Nombre del Familiar:
                                    </label>
                                        <input type="text"  class="form-control" name="giroNombre" required>
                                
                                        <label>
                                            Parentesco: 
                                        </label>
                                        <input type="text"  class="form-control" name="giroNombre" required>
                                
                                        <label>
                                            Teléfono: 
                                        </label>
                                        <input type="text"  class="form-control" name="giroNombre" required>
                                <hr>
                                <h4>Datos Extras</h4>
                        
                                <label for="">Como se Enteró del Servicio</label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                        
                                <label for="">Fecha de Liberación</label>
                                <input type="text"  class="form-control" name="giroNombre" required>
                            
                        
                        </form>
    <!-- Fin del formulario -->
                </div>
            </div>
        </div>
    </div>
    <!-- Fin del modal -->
 