<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-group"></i>{{titulo}}</h3>
    </div>
</div>
<!-- Contenido  -->

<form>
    <div class="form-group col-lg-8">

        <h3>Ruta</h3>
        <label>
            Representante: 
        </label>
        <input type="text"  class="form-control" name="giroNombre" required>

        <label>
            Nombre de la Ruta: 
        </label>
        <input type="text"  class="form-control" name="giroNombre" required>
    

        <h3>Datos del Cliente</h3>
        <label>
            Nombre del Cliente: 
        </label>
        <input type="text"  class="form-control" name="giroNombre" required>
        
        <label>
            Fecha de Nacimiento:
        </label>
            <input type="text"  class="form-control" name="giroNombre" required>
            <br>
            <input type="text"  class="form-control" name="giroNombre" placeholder="Edad Actual" required>

        <br>
        <label>
            Estado Civil:
        </label>
            <input type="text"  class="form-control" name="giroNombre" required>

        <label>
            Comprobante que envió:
        </label>
            <input type="text"  class="form-control" name="giroNombre" required>
    
        <label>
            Domicilio:
        </label>
            <input type="text"  class="form-control" name="giroNombre" required>

        <label>
            Domicilio Propio o Rentado:
        </label>
            <input type="text" class="form-control" name="giroNombre" required>
        
        <label>
            Dependientes Económicos:
        </label>
        <input type="text" class="form-control" name="giroNombre" required>

        <label>
            Teléfono del Cliente:
        </label>
        <input type="text" class="form-control" name="giroNombre" required>

        <label>
            Monto Solicitado:
        </label>
        <input type="text" class="form-control" name="giroNombre" required>

        <label>
            Monto Autorizado:
        </label>
        <input type="text" class="form-control" name="giroNombre" required>

        <hr>

        <h3>Información del Negocio</h3>
        <label>
            Giro del Negocio: 
        </label>
        <input type="text"  class="form-control" name="giroNombre" required>

        <label>
            Ingresos Semanales: 
        </label>
        <input type="text"  class="form-control" name="giroNombre" required>
        
        <label>
            Propietario o Empleado: 
        </label>
        <input type="text"  class="form-control" name="giroNombre" required>

        <label>
            Antiguedad del Negocio: 
        </label>
        <input type="text"  class="form-control" name="giroNombre" required>

        <label>
            Contrato de arrendamiento del Negocio: 
        </label>
        <input type="text"  class="form-control" name="giroNombre" required>

        <label>
            Ubicación del Negocio: 
        </label>
        <input type="text"  class="form-control" name="giroNombre" required>

        <label>
            Horario Laboral: 
        </label>
        <input type="text"  class="form-control" name="giroNombre" required>

        <hr> 
        <h3>Aval</h3>

        <label>
            Nombre del Aval:
        </label>
            <input type="text"  class="form-control" name="giroNombre" required>
    
            <label>
                Antiguedad de Conocerlo: 
            </label>
            <input type="text"  class="form-control" name="giroNombre" required>
    
            <label>
                Teléfono: 
            </label>
            <input type="text"  class="form-control" name="giroNombre" required>

        <hr>
        <h3>Referencias Familiares</h3>
        <label>
                Nombre del Familiar:
            </label>
                <input type="text"  class="form-control" name="giroNombre" required>
        
                <label>
                    Parentesco: 
                </label>
                <input type="text"  class="form-control" name="giroNombre" required>
        
                <label>
                    Teléfono: 
                </label>
                <input type="text"  class="form-control" name="giroNombre" required>
        <hr>
        <h4>Datos Extras</h4>

        <label for="">Como se Enteró del Servicio</label>
        <input type="text"  class="form-control" name="giroNombre" required>

        <label for="">Fecha de Liberación</label>
        <input type="text"  class="form-control" name="giroNombre" required>
    

    </div>
</form>