
<!-- container section start -->
  <section id="container" class="">
    <!--header start-->
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>
      <!--logo start-->
      <a [routerLink]="['/home']" class="logo">Prestamos<span class="lite">AL</span>Instante</a>
      <!--logo end-->
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" [routerLink]="['/home']" [routerLinkActive]="['linkActivado']"><i class="fa fa-home"></i><span>Inicio</span></a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
              <i class="fa fa-building"></i>
              <span>Sucursales</span>
              <span class="menu-arrow arrow_carrot-right"></span>
            </a>
              <!-- Esto esta adentro de sucursales -->
                  <ul class="sub">
                    <li><a class="" [routerLink]="['/sucursales']" [routerLinkActive]="['linkActivado']">Lista de sucursales</a></li>
                    <li><a class="" [routerLink]="['/sucursal_nueva']" [routerLinkActive]="['linkActivado']">Registro de sucursales</a></li>
                  </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                  <i class="fa fa-user"></i>
                  <span>Empleados</span>
                  <span class="menu-arrow arrow_carrot-right"></span>
              </a>
              <!-- Esto esta adentro de Empelados -->
                  <ul class="sub">
                    <li><a class="" [routerLink]="['/empleados']" [routerLinkActive]="['linkActivado']">Lista de empleados</a></li>
                    <li><a class="" [routerLink]="['/empleado_nuevo']" [routerLinkActive]="['linkActivado']">Registro de empleados</a></li>
                  </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                  <i class="fa fa-users"></i>
                  <span>Clientes</span>
                  <span class="menu-arrow arrow_carrot-right"></span>
              </a>
              <!-- Esto esta adentro de clientes -->
                  <ul class="sub">
                    <li><a class="" [routerLink]="['/clientes']" [routerLinkActive]="['linkActivado']">Lista de clientes</a></li>
                    <li><a class="" [routerLink]="['/cliente_nuevo']" [routerLinkActive]="['linkActivado']">Registro de clientes</a></li>
                  </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                  <i class="fa fa-building-o"></i>
                  <span>Negocios</span>
                  <span class="menu-arrow arrow_carrot-right"></span>
              </a>
              <!-- Esto esta adentro de noegocios -->
                  <ul class="sub">
                    <li><a class="" [routerLink]="['/negocios']" [routerLinkActive]="['linkActivado']">Lista de negocios</a></li>
                    <li><a class="" [routerLink]="['/negocio_nuevo']" [routerLinkActive]="['linkActivado']">Registro de negocios</a></li>
                    <li><a class="" [routerLink]="['/negocio_giro']" [routerLinkActive]="['linkActivado']">Giro de negocios</a></li>
                  </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                  <i class="fa fa-usd "></i>
                  <span>Prestamos</span>
                  <span class="menu-arrow arrow_carrot-right"></span>
              </a>
              <!-- Esto esta adentro de prestamos -->
                  <ul class="sub">
                    <li><a [routerLink]="['/aprobar_prestamo']" [routerLinkActive]="['linkActivado']">Aprobar prestamo</a></li>
                    <li><a [routerLink]="['/aprobar_justificacion']" [routerLinkActive]="['linkActivado']">Aprobar justificacion</a></li>
                    <li><a [routerLink]="['/nuevo_prestamo']" [routerLinkActive]="['linkActivado']">Nuevo prestamo</a></li>
                    <li><a [routerLink]="['/cobros']" [routerLinkActive]="['linkActivado']">Cobros</a></li>
                    <li><a [routerLink]="['/reportes_cobros']" [routerLinkActive]="['linkActivado']">Reportes de cobros</a></li>
                  </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                  <i class="fa fa-building-o"></i>
                  <span>Empresas</span>
                  <span class="menu-arrow arrow_carrot-right"></span>
              </a>
              <!-- Esto esta adentro de noegocios -->
                  <ul class="sub">
                    <li><a class="" [routerLink]="['/empresa']" [routerLinkActive]="['linkActivado']">Lista de empresas</a></li> 
                    <li><a class="" [routerLink]="['/empresa_nueva']" [routerLinkActive]="['linkActivado']">Registro de empresa</a></li>     
                  </ul>
          </li>
          <li class="active">
            <a class="" [routerLink]="['/sdfsdf']" [routerLinkActive]="['linkActivado']"><i class="fa fa-sign-out"></i><span>Salir</span></a>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <section id="main-content">
          <section class="wrapper">
            <div class="col-lg-10 col-lg-offset-1">
                <!-- COMPONENTE ACTUAL -->
                <router-outlet> </router-outlet>
                
            </div>
        </section>
    </section>

    <!--main content end-->
    <div class="text-right">
      
      
    </div>
  </section>
  <!-- container section end -->

